.intro {
    background-image: url("intro.jpg");
    min-height: 1000px;
    font-family: 'Josefin Sans', sans-serif;
    }

.banner {
background-image: url("pic.jpg");
min-height: 250px;
font-family: 'Josefin Sans', sans-serif;
}


.frame {
    background-color: black;
    background-repeat: no-repeat;
    min-width: 1000px;
    min-height: 1500px;
}

.container {
margin-left: 80px;
border-radius: 15px;
border: 2px dashed Tomato;
height: auto;
width: auto;
display: none;
}

.next {
margin-top: 20px;
margin-bottom: 20px;
background-color: rgb(97, 184, 203);
border: none;
border-radius: 5px;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.submit {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(97, 184, 203);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
